<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Registration</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body th:replace="header :: header">
    <h2>Register</h2>
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required>

        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>

        <button type="submit">Register</button>
    </form>
    <div th:replace="footer :: footer"></div>
</body>
</html>
